# Docs build (host-side; not shipped in a mission)
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-macros-plugin
# For the stitched multi-repo build that pulls LegendaryMissions docs:
mkdocs-multirepo-plugin
